{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Inscription</h1>

    {% include "includes/forms/register_form.html.twig" %}

    <div class="col-6 offset-md-3">
        <p>Déjà inscris ?</p>
        
    </div>
{% endblock %}
