<div class="my-5 text-center">
	<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
		<div class="d-flex justify-content-center align-items-center h-100">
			<div class="text-white">
				<h1 class="my-5"><u>Fortfait Prenium</u></h1>
				<h4 class="my-3">Influentia vous propose des articles à un tarif unique, de seulement 5 € par mois</h4>
				<a class="btn btn-outline-light btn-lg my-5" href="{{ path('prenium_pack') }}" role="button">S'abonner</a>
			</div>
		</div>
	</div>
</div>

<hr>
