<div class="mb-2 text-center">
	<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
		<div class="d-flex justify-content-center align-items-center h-100">
			<div class="text-white">
				<p class="my-2">Je passe au fortfait
                    <a class="my-2 text-decoration-none link-light" href="{{ path('prenium_pack') }}">
                        <u>Prenium</u>
                    </a>
                </p>
			</div>
		</div>
	</div>
</div>