{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Echec
{% endblock %}

{% block body %}
	<div>
		<h1 class="text-center my-5">Votre paiement a été un échec !!</h1>
	</div>
{% endblock %}

{% block javascript %}
	
{% endblock %}