{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | À propos{% endblock %}

{% block body %}
<div>
    {% include "base/prenium_link.html.twig" %}
    
    <h1 class="text-center my-5">À propos !</h1>
</div>
{% endblock %}