{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ post.title }}{% endblock %}

{% block body %}
<div>
    <h1>{{ post.title }}</h1>
    <div>
		{% if post.image is not null %}
			<img src="{{ asset('uploads/' ~ post.image) }}">
		{% endif %}
	</div>

    {% include "includes/post_form.html.twig" %}
</div>
{% endblock %}