{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajouter un article{% endblock %}

{% block body %}
<div>
    <h1>Ajouter un article !</h1>

    {% include "includes/post_form.html.twig" with {"formButton" : "Publier"} %}
</div>
{% endblock %}