{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} | Modification de compte{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="form_title center">Modification de compte</h1>
        
        {% include "includes/forms/user_account_edit_form.html.twig" %}
    </div>
{% endblock %}